:root {
  --main-bg-color: lightgoldenrodyellow;
}

body {
  background-color: var(--main-bg-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  cursor: url("img/spoon.png"), auto;
}


article, .gameboard, .wrapper--information{
  display: flex;
}

article, .gameboard {
  justify-content: center;
}

article, .wrapper--information{
  flex-direction: column;
  align-items: center;
}

.wrapper--information {
  background-color: #ffffff;
  width: 430px;
  height: 500px;
  border-radius: 2px;
  border: 1px solid #3d3d3d;
}

.gameboard{
  flex-wrap: wrap;
  width: 500px;
}

input[type="checkbox"]{
  display: inline-block;
  height: 80px;
  width: 80px;
}