:root {
  --main-bg-color: lightgoldenrodyellow;
}

body {
  background-color: var(--main-bg-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  cursor: url("img/spoon.png"), auto;
}

article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gameboard{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
}

input[type="checkbox"]{
  display: inline-block;
  height: 80px;
  width: 80px;
}